* { margin:0; padding:0; box-sizing:border-box; }

@font-face {
  font-family: "My Custom Font";
  src: url('/fonts/AtariClassic-Regular.ttf');
}

body{
  font-family: "My Custom Font", Verdana, Tahoma;
  text-align: center;
  background-color: white;
  color: black;
}

.App {
  font-family: "My Custom Font", Verdana, Tahoma;
  text-align: center;
  background-color: white;
  color: black;
}

.App-header {
  background-color: white;
  max-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  padding-top: 5vh;
}

.menu{
 
}

.link{
  color: black;
  margin: 5px;
  text-decoration: 'none'
}


.menu .link{
  border: 5px solid black;
  font-size: calc(15px + 1vmin);
}

.Piece{
  margin-top: 50px;
}

.LevelList{
  margin-top: 50px;
}

.LevelList li{
  margin-top: 5px;
  padding: 5px;
}

.LevelList .levelName{
  border: 2px solid black;
  padding: 2px;
}

.LevelCreator{
  margin-top: 50px;
}

*:focus {
  outline: none;
}

input {
  background-color: transparent;
  border: 0px solid;
  color: black;
  font-family: "My Custom Font", Verdana, Tahoma;
  font-size: calc(10px + 2vmin);
}

li{
  list-style-type: none;
}

.nav-style{
  height: 60px;
}

.logout{
  font-size: calc(4px + 1vmin);
}

.pieceForm{
  padding: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px 50px  ;
}

.levelForm{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px ;
}

.Game{
  margin-top: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
