.create-board{
    display: flex;
    flex-wrap: wrap;
}

.pieces-container{
    max-height: 360px;
    height: 360px;
}
.LevelCreator nav ul{
    overflow:hidden; 
    overflow-y:scroll;
}

.container{
    margin-left: 30px;
    margin-right: 30px
}

.itemImg{
    width: 50px;
}

.itemDiv{
    display: flex;
    flex-direction: column;
}